.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__item {
    padding-bottom: 100px;
}

.content__header {
    margin: 65px 0;
}

.content__header__title {
    font-weight: 500;
    font-size: 40px;
}