.footer {
    height: 108px;
    background: #6A6A6A;
    display: flex;
}

.footer__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.footer__text {
    font-weight: 400;
    font-size: 11px;
    color: #FFFFFF;
}